@font-face {
    font-family: "Star Jedi";
    src: url("./StarJedi.eot"); /* IE9*/
    src: url("./StarJedi.eot?#iefix") format("embedded-opentype"),
		/* IE6-IE8 */
	url("./StarJedi.woff2") format("woff2"),
		/* chrome firefox */
	url("./StarJedi.woff") format("woff"),
		/* chrome firefox */
	url("./StarJedi.ttf") format("truetype")
}