.navbar {
    flex-wrap: wrap;
}

.navbar .navbar-brand {
    color: #FFDE06;
    font-size: 30px;
    transition: all .2s;
    width: 100%;
    text-align: center;
    margin-right: 0;
}

.navbar .navbar-brand:hover {
    color: #FF7202;
}

.navbar .navbar-nav {
    margin: 0 auto;
}

.navbar .navbar-nav .nav-item a {
    color: #fff;
    transition: all .8s;
}

.navbar .navbar-nav .nav-item a:hover {
    color: #ffde06;
}

.navbar .navbar-nav .nav-item {
    transition: all .5s;
}

.navbar .navbar-nav .nav-item:hover {

}